# PostgreSQL (Docker)
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_pass
POSTGRES_DB=de_project
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# SQLAlchemy connection string
DATABASE_URL=postgresql+psycopg://de_user:de_pass@localhost:5432/de_project

# pgAdmin (Docker)
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
