# Virtual Environment
.venv/

# IDE
.idea/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Local database files
data/*.db
data/*.duckdb

# Spark / pipeline outputs
data/processed/
spark-warehouse/
derby.log
